{% extends 'base.html.twig' %}

{% block title %}Editeur index{% endblock %}

{% block body %}
    <h1>Editeur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomEditeur</th>
                <th>Adresse</th>
                <th>NumTel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editeur in editeurs %}
            <tr>
                <td>{{ editeur.id }}</td>
                <td>{{ editeur.nomEditeur }}</td>
                <td>{{ editeur.adresse }}</td>
                <td>{{ editeur.numTel }}</td>
                <td>
                    <a href="{{ path('app_editeur_show', {'id': editeur.id}) }}">show</a>
                    <a href="{{ path('app_editeur_edit', {'id': editeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_editeur_new') }}">Create new</a>
{% endblock %}
