{% extends 'base.html.twig' %}

{% block title %}Editeur{% endblock %}

{% block body %}
    <h1>Editeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ editeur.id }}</td>
            </tr>
            <tr>
                <th>NomEditeur</th>
                <td>{{ editeur.nomEditeur }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ editeur.adresse }}</td>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ editeur.numTel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_editeur_index') }}">back to list</a>

    <a href="{{ path('app_editeur_edit', {'id': editeur.id}) }}">edit</a>

    {{ include('editeur/_delete_form.html.twig') }}
{% endblock %}
